











<form method="post" id="basicfacilitiesform" onsubmit="return false">
                                    

<input type="hidden" name="csrfmiddlewaretoken" value="9yREsdErdw2HZctytxvNWVTduVKaXbhaEsDlM3XkifkqrMiTNoIzqlfPpeYwaHVa"> <div id="div_id_school" class="form-group inputParentClass"> <label for="id_school" class="control-label  requiredField">
                School<span class="asteriskField">*</span> </label> <div class="controls "> <select name="school" required="" class="select form-control" id="id_school"> <option value="" selected="">---------</option> <option value="1">Mandur</option> <option value="2">test2</option> <option value="3">test3</option>

</select> </div> </div> <div id="div_id_electricity_available" class="form-group inputParentClass"> <label for="id_electricity_available" class="control-label ">
                Electricity available
            </label> <div class="controls "> <select name="electricity_available" class="select form-control" id="id_electricity_available"> <option value="" selected="">---------</option> <option value="0">Not Applicable</option> <option value="1">Yes</option> <option value="2">No</option> <option value="3">Yes but not functional</option> <option value="4">Unknown</option> <option value="9">Unknown</option>

</select> </div> </div> <div id="div_id_cleanliness" class="form-group inputParentClass"> <label for="id_cleanliness" class="control-label ">
                Cleanliness
            </label> <div class="controls "> <select name="cleanliness" class="select form-control" id="id_cleanliness"> <option value="" selected="">---------</option> <option value="1">Yes</option> <option value="0">No</option>

</select> </div> </div> <div id="div_id_cleanliness_description" class="form-group inputParentClass"> <label for="id_cleanliness_description" class="control-label ">
                Cleanliness description
            </label> <div class="controls "> <input type="text" name="cleanliness_description" id="id_cleanliness_description" class="textinput textInput form-control" maxlength="200"> </div> </div> <div id="div_id_pest_control_done_in_last_one_year" class="form-group inputParentClass"> <label for="id_pest_control_done_in_last_one_year" class="control-label ">
                Pest control done in last one year
            </label> <div class="controls "> <select name="pest_control_done_in_last_one_year" class="select form-control" id="id_pest_control_done_in_last_one_year"> <option value="" selected="">---------</option> <option value="1">Yes</option> <option value="0">No</option>

</select> </div> </div> <div id="div_id_pest_control_required" class="form-group inputParentClass"> <label for="id_pest_control_required" class="control-label ">
                Pest control required
            </label> <div class="controls "> <select name="pest_control_required" class="select form-control" id="id_pest_control_required"> <option value="" selected="">---------</option> <option value="1">Yes</option> <option value="0">No</option>

</select> </div> </div> <div id="div_id_drinking_water" class="form-group inputParentClass"> <label for="id_drinking_water" class="control-label ">
                Drinking water
            </label> <div class="controls "> <select name="drinking_water" class="select form-control" id="id_drinking_water"> <option value="" selected="">---------</option> <option value="1">Hand pumps</option> <option value="2">Well</option> <option value="3">Tap water</option> <option value="4">others</option> <option value="5">none</option>

</select> </div> </div> <div id="div_id_drinking_water_filter" class="form-group inputParentClass"> <label for="id_drinking_water_filter" class="control-label ">
                Drinking water filter
            </label> <div class="controls "> <select name="drinking_water_filter" class="select form-control" id="id_drinking_water_filter"> <option value="" selected="">---------</option> <option value="0">Not Applicable</option> <option value="1">Yes</option> <option value="2">No</option> <option value="3">Yes but not functional</option> <option value="4">Unknown</option> <option value="9">Unknown</option>

</select> </div> </div> <div id="div_id_drinking_water_filter_available" class="form-group inputParentClass"> <label for="id_drinking_water_filter_available" class="control-label ">
                Drinking water filter available
            </label> <div class="controls "> <input type="number" name="drinking_water_filter_available" class="numberinput form-control" id="id_drinking_water_filter_available"> </div> </div> <div id="div_id_drinking_water_filter_required" class="form-group inputParentClass"> <label for="id_drinking_water_filter_required" class="control-label ">
                Drinking water filter required
            </label> <div class="controls "> <input type="number" name="drinking_water_filter_required" class="numberinput form-control" id="id_drinking_water_filter_required"> </div> </div> <div id="div_id_electric_bulbs" class="form-group inputParentClass"> <label for="id_electric_bulbs" class="control-label ">
                Electric bulbs
            </label> <div class="controls "> <input type="number" name="electric_bulbs" class="numberinput form-control" id="id_electric_bulbs"> </div> </div> <div id="div_id_electric_bulbs_required" class="form-group inputParentClass"> <label for="id_electric_bulbs_required" class="control-label ">
                Electric bulbs required
            </label> <div class="controls "> <input type="number" name="electric_bulbs_required" class="numberinput form-control" id="id_electric_bulbs_required"> </div> </div> <div id="div_id_electric_fans_available" class="form-group inputParentClass"> <label for="id_electric_fans_available" class="control-label ">
                Electric fans available
            </label> <div class="controls "> <input type="number" name="electric_fans_available" class="numberinput form-control" id="id_electric_fans_available"> </div> </div> <div id="div_id_electric_fans_required" class="form-group inputParentClass"> <label for="id_electric_fans_required" class="control-label ">
                Electric fans required
            </label> <div class="controls "> <input type="number" name="electric_fans_required" class="numberinput form-control" id="id_electric_fans_required"> </div> </div> 
<div class="clearfix"></div>
            <input type="button" name="save_basic_facilities" value="Save" class="btn btn-primary btn-success" id="submit-id-save_basic_facilities" onClick="save_basicfacilities()">

                                </form>


















<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<h2>Basic Facilites Data:</h2>
<div class="clearfix">&nbsp;</div>

                                <div  style="display: block">
                                  <table class="table table-responsive table-stripped">
                                    <thead>
                                      <tr>
                                      <th>electricity_available</th>
                                      <th>cleanliness</th>
                                      <th>pest_control_done_in_last_one_year</th>
                                      <th>pest_control_required</th>
                                      <th>drinking_water</th>
                                      <th>drinking_water_filter_available / required</th>
                                      <th>electric_bulbs available/required</th>
                                      <th>electric_fans_available/required</th>
                                    </tr>
                                    </thead>
                                    <tbody id="display_basicfacilites">
                                      
                                    </tbody>
                                    

                                  </table>
                                </div>

                              </div>
                             
                            </div>

                            </div>
                    </div>
                </div>

               
                

                


                </div>
            </div>
        </div>


       
    </div>


<script type="text/javascript">

  $(document).ready(function(){
  console.log("Test")
  get_basicfacilites();
})

function get_basicfacilites(){
console.log(1)
    $.ajax({
                url: "{% url 'fieldstaff:AddBasicFacilites' %}",
                cache: false,
                success: function(html){
                  console.log(html);
                  basic_facilities_html = "";
                  
                  $.each(html, function(index, value){
                    console.log(value, index)
                      basic_facilities_html += "<tr>";
                  
                      basic_facilities_html += '<th>'+html[index]['electricity_available']+'</th>'
                      basic_facilities_html += '<th>'+html[index]['cleanliness']+'</th>'
                      basic_facilities_html += '<th>'+html[index]['pest_control_done_in_last_one_year']+'</th>'
                      basic_facilities_html += '<th>'+html[index]['pest_control_required']+'</th>'
                      basic_facilities_html += '<th>'+html[index]['drinking_water']+'-'
                      basic_facilities_html += ''+html[index]['drinking_water_filter']+'</th>'
                      basic_facilities_html += '<th>'+html[index]['drinking_water_filter_available']+' / '
                      basic_facilities_html += ''+html[index]['drinking_water_filter_required']+'</th>'
                      basic_facilities_html += '<th>'+html[index]['electric_bulbs']+' / '
                      basic_facilities_html += ''+html[index]['electric_bulbs_required']+'</th>'
                      basic_facilities_html += '<th>'+html[index]['electric_fans_available']+' / '
                      basic_facilities_html += ''+html[index]['electric_fans_required']+'</th>'
                      basic_facilities_html += "</tr>";
                            
                  });

                  $("#display_basicfacilites").html(basic_facilities_html);
                }
              });
}

    function save_basicfacilities(){
              formData = $("#basicfacilitiesform").serialize();
              console.log(formData)
              $.ajax({
                url: "{% url 'fieldstaff:AddBasicFacilites' %}",
                cache: false,
                method: 'post',
                data: formData,
                success: function(html){
                  //$("#results").append(html);
                  alert("success")
                }
              });

            }
          

</script>