<!DOCTYPE html>
<html>
{% load  static %}
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" /> -->
        <title>Home</title>

        <!-- dashboard-custom:css -->

        <!-- enddashboard-custom:css -->
        <link rel="stylesheet" href="{% static "fieldstaff/css/dashboard.css" %}">
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static "fieldstaff/dashboard/bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "fieldstaff/dashboard/bower_components/font-awesome/css/font-awesome.min.css" %}">
{#        <link rel="stylesheet" href="{% static "fieldstaff/dashboard/bower_components/simple-line-icons/css/simple-line-icons.css" %}">#}
{#        <link rel="stylesheet" href="{% static "fieldstaff/dashboard/bower_components/weather-icons/css/weather-icons.min.css" %}">#}
{#        <link rel="stylesheet" href="{% static "fieldstaff/dashboard/bower_components/themify-icons/css/themify-icons.css" %}">#}
        <!-- endinject -->

        <!-- Main Style  -->
        <link rel="stylesheet" href="{% static "fieldstaff/dashboard/dist/css/main.css" %}">

        <!-- Rickshaw Chart Depencencies -->
{#        <link rel="stylesheet" href="{% static "fieldstaff/dashboard/bower_components/rickshaw/rickshaw.min.css" %}">#}

        <!--easypiechart-->
{#        <link rel="stylesheet" href="{% static "fieldstaff/dashboard/assets/js/jquery-easy-pie-chart/easypiechart.css" %}">#}4


<style type="text/css">
    .pac-container{
        z-index: 2000;
    }
</style>

        <script src="{% static "fieldstaff/dashboard/bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "fieldstaff/dashboard/assets/js/modernizr-custom.js"%}"></script>
    </head>